# Ignore Rails files that don't belong in source control
/config/database.yml
/db/data.yml

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore TextMate project files
*.tmproj

# Ignore files that Mac OS creates
.DS_Store