body {
  margin: 100px auto 0 auto;
  width: 350px;
  border: 10px solid #ee2c9f;
}

h1 {
  font-size: 1.4em;
}

label {
  font-size: 0.9em;
  font-weight: bold;
}

form {
  margin: 0;
}

input {
  font-size: 1.1em;
}

#session_login, #session_password, #user_password, #user_password_confirmation {
  width: 250px;
}

#content {
  border: 0;
}
