form {
  display: block;
  margin: 0 auto;
  padding: 0;
}

form.two {
  width: 200px;
}

form.three {
  width: 300px;
}

form.four {
  width: 400px;
}

form.five {
  width: 500px;
}

form p {
  margin: 1.4em 0;
  padding: 0;
}

label, input, textarea, select, button {
  font-size: 1.4em;
  padding-right: 0.5em;
}

label {
  display: block;
}

.selector {
  font-size: 0.5em;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}