#message_body {
  width: 98%;
  height: 10em;
  font-family: monospace;
}

.container {
  margin: 0;
}

#controls a {
  font-size: 1.4em;
}

table#messages {
  margin: 20px 0 0 0;
  border-spacing: 0;
  width: 100%;
}

table#messages th, table#messages td {
  text-align: left;
  padding: 5px 15px;
}

table#messages th {
  background-color: #f3dae9;
  border: 1px solid #ee2c9f;
  border-width: 1px 0;
}

table#messages td {
  border-bottom: 1px solid #444;
}

ul#headers {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: #f3dae9;
  border: 1px solid #ee2c9f;
  border-width: 1px 0;
}

ul#headers li {
  margin: 5px 0;
}

ul#headers .header {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 1em;
  font-weight: bold;
}

#body {
  margin: 15px;
  white-space: pre;
}

#options {
  border-top: 1px solid #ee2c9f;
  padding-top: 10px;
}