.heading {
  margin: 15px 0;
  font-size: 2em;
  font-weight: bold;
}

#content .left {
  width: 47%;
  float: left;
}

#content .right {
  width: 47%;
  float: right;
}

#content .bottom {
  clear: both;
}

#loading {
  text-align: center;
}

#loading img {
  display: inline;
}